*
!.gitignore
!README.md
!Update.sh
!etc
!etc/X11
!etc/X11/xorg.conf
!etc/acpi
!etc/acpi/default.sh
!etc/conf.d
!etc/conf.d/modules
!etc/conf.d/wpa_supplicant
!etc/default
!etc/default/grub
!etc/dispatch-conf.conf
!etc/dnsmasq.conf
!etc/dnsmasq.d
!etc/dnsmasq.d/*
!etc/env.d
!etc/env.d/02locale
!etc/fonts
!etc/fonts/local.conf
!etc/fstab
!etc/goagent
!etc/local.d
!etc/local.d/brightness.start
!etc/local.d/portmount.start
!etc/locale.gen
!etc/localtime
!etc/mpd.conf
!etc/nginx
!etc/nginx/nginx.conf
!etc/polkit-1
!etc/polkit-1/rules.d
!etc/polkit-1/rules.d/50-udiskie.rules
!etc/portage
!etc/portage/*
!etc/portage/*/*
!etc/psd.conf
!etc/pulse
!etc/pulse/default.pa
!etc/resolv.conf.head
!etc/samba
!etc/samba/smb.conf
!etc/syslog-ng
!etc/syslog-ng/syslog-ng.conf
!etc/vsftpd
!etc/vsftpd/vsftpd.conf
!etc/wpa_supplicant
!etc/wpa_supplicant/wpa_supplicant.conf
!home
!home/e788b1
!home/e788b1/.Xmodmap
!home/e788b1/.Xresources
!home/e788b1/.alias
!home/e788b1/.aria2
!home/e788b1/.aria2/aria2.conf
!home/e788b1/.bash_profile
!home/e788b1/.bashrc
!home/e788b1/.config
!home/e788b1/.config/
!home/e788b1/.config/Trolltech.conf
!home/e788b1/.config/feh
!home/e788b1/.config/feh/buttons
!home/e788b1/.config/feh/keys
!home/e788b1/.config/fontconfig
!home/e788b1/.config/fontconfig/conf.d
!home/e788b1/.config/fontconfig/conf.d/*
!home/e788b1/.config/fontconfig/fonts.conf
!home/e788b1/.config/gtk-3.0/
!home/e788b1/.config/gtk-3.0/gtk.css
!home/e788b1/.config/mimeapps.list
!home/e788b1/.config/mpv
!home/e788b1/.config/mpv/input.conf
!home/e788b1/.config/mpv/lua-settings
!home/e788b1/.config/mpv/lua-settings/*
!home/e788b1/.config/mpv/mpv.conf
!home/e788b1/.config/mpv/scripts
!home/e788b1/.config/mpv/scripts/*
!home/e788b1/.config/ranger
!home/e788b1/.config/ranger/rc.conf
!home/e788b1/.config/ranger/rfile.conf
!home/e788b1/.config/user-dirs.dirs
!home/e788b1/.config/user-dirs.locale
!home/e788b1/.dir_colors
!home/e788b1/.docs
!home/e788b1/.docs/*
!home/e788b1/.docs/*/*
!home/e788b1/.fbtermrc
!home/e788b1/.gitconfig
!home/e788b1/.gtkrc-2.0
!home/e788b1/.gtkrc-2.0.mine
!home/e788b1/.i3
!home/e788b1/.i3/*
!home/e788b1/.i3/*/*
!home/e788b1/.icons
!home/e788b1/.icons/default
!home/e788b1/.icons/default/index.theme
!home/e788b1/.icons/Numix-Cursor
!home/e788b1/.icons/Numix-Cursor/*
!home/e788b1/.icons/Numix-Cursor/*/*
!home/e788b1/.icons/slitaz-polar
!home/e788b1/.icons/slitaz-polar/*
!home/e788b1/.icons/slitaz-polar/*/*
!home/e788b1/.local
!home/e788b1/.local/share
!home/e788b1/.local/share/applications
!home/e788b1/.local/share/applications/archivemounter.desktop
!home/e788b1/.local/share/applications/archivemounter.desktop
!home/e788b1/.local/share/applications/feh_browser.desktop
!home/e788b1/.local/share/applications/hexedit.desktop
!home/e788b1/.local/share/applications/vim.desktop
!home/e788b1/.local/share/applications/163music.desktop
!home/e788b1/.local/share/applications/7zip.desktop
!home/e788b1/.local/share/applications/foobar2000.desktop
!home/e788b1/.local/share/applications/Notepad++.desktop
!home/e788b1/.ncmpcpp
!home/e788b1/.ncmpcpp/bindings
!home/e788b1/.ncmpcpp/config
!home/e788b1/.pip
!home/e788b1/.pip/pip.conf
!home/e788b1/.vim
!home/e788b1/.vim/autoload
!home/e788b1/.vim/autoload/plug.vim
!home/e788b1/.vim/plugins.vimrc
!home/e788b1/.vim/vimrc
!home/e788b1/.xinitrc
!home/e788b1/.zshrc
!home/e788b1/.zshrc.local
!var
!var/lib
!var/lib/portage
!var/lib/portage/world
!
